div.Pages{
}

div.Primary {
    background-color: var(--grayLight);
    flex: start;
    flex: 1;
    padding-top: 10px;
    padding-bottom: 4%;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 10px;
    align-items: flex-start;
}

div.Secundary {
    display: flex;
    flex-direction: row;
    background-color: var(--grayLight);
    box-align: center;
}

div.SecundaryC {
    display: flex;
    flex-direction: column;
    background-color: var(--grayLight);
    box-align: center;
    padding-top: 3%;
}

div.Box {
    background-color: var(--grayMedium);
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 2%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 96%;
}

.Mobile{
    display: none;
    
  }

@media (max-width: 800px) {
    .Mobile{
      display: initial;
      max-height: 370px;
    justify-content: center;
    align-items: center;
    }
    .Desktop{
        display: none;
    }
    div.Secundary {
      flex-direction: column;
  }
  div.Primary {
    padding-bottom: 18%
  }
}

  img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
  }