div.Primary {
    background-color: var(--grayMedium);
    flex: start;
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 10px;
    align-items: flex-start;
}
