div {
    max-height: 460px;
}

div.Primary {
    background-color: var(--grayLight);
    flex: start;
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 10px;
    align-items: flex-start;
    min-height: 503px;
}

div.Secundary {
    display: flex;
    flex-direction: row;
    background-color: var(--grayLight);
    box-align: center;
    padding-top: 30px;
}

div.SecundaryC {
    display: flex;
    flex-direction: column;
    background-color: var(--grayLight);
    box-align: center;
    padding-top: 30px;
}

div.Box {
    background-color: var(--grayMedium);
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 2%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 96%;
}

.Mobile{
    display: none;
    
  }

img {
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .Mobile{
      display: initial;
    }
    .Desktop{
        display: none;
    }
  }