.LogoSmall {
  max-width: 100px;
}
@media (max-width: 800px) {
  .LogoSmall {
    width: 65px;
  }
  p {
    font-size: 9px;
    align-items: flex-end;
  }
  .SocialFooter {
    padding-right: 40px;
  }
}

p {
  font-size: 13px;
  color: var(--blackLighter);
}

.SocialFooter {
  align-items: center;
  justify-content: center;
}

.Footer {
  width: 100%;
  height: 60px;
  z-index: 100;
  position: fixed;
  bottom:0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 5%;
  padding-right: 5%;

  background: var(--grayLight);
  border-top: 3px solid var(--secundary);
}
body {
  --bodyPaddingTop: 94px;
  padding-top: var(--bodyPaddingTop);
}

div.SocialLinks {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

@media (max-width: 800px) {
  .Footer {
    height: 65px;
  }
  .LogoSmall {
    width: 70px;
    
  }
  p {
    font-size: 11px;
   padding-left: 10px;
    
  }
  body {
    --bodyPaddingTop: 70px;
    padding-top: var(--bodyPaddingTop);
  }
  div.SocialLinks {
    position: relative;
    
    
  }
}

