* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #00895B;
  --secundary: #D47C00;
  --black: #000000;
  --blackLighter: #353434;
  --grayLight: #faf8f8; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 

h2 {
  font-weight: 500;
  margin: 10px;
  color: var(--primary);
}

h2.Title {
  text-align: center;
  font-weight: 600;
  
}

h4 {
  margin: 10px;
  font-weight: 400;
  color: var(--primary);
}