* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
}

:root {
  --primary: #00895B;
  --secundary: #D47C00;
  --black: #000000;
  --blackLighter: #353434;
  --grayLight: #faf8f8;
  --grayMedium: #f1f0f0; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 

h2 {
  font-weight: 500;
  margin: 10px;
  color: var(--black);
}

h3 {
  font-weight: 500;
  color: var(--black);
}

h2.Title {
  text-align: center;
  font-weight: 600;
  color: var(--primary);
}

h4 {
  text-align: center;
  margin: 10px;
  font-weight: 400;
  color: var(--black);
}

h4.Title {
  text-align: center;
  font-weight: 600;
  color: var(--primary);
}

@media (max-width: 800px) {
  h2 {
    font-size: 19px;
  }
}